<a href="https://colab.research.google.com/github/christophersingh/Airtime/blob/main/Airtime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
import numpy as np
import pandas as pd

df = pd.read_csv('./room_entries.csv', sep=',')

In [75]:
df.isna().sum()

timestamp    0
user         0
room         0
room_name    0
dtype: int64

In [76]:
df.isna().any().any()

False

In [77]:
from datetime import datetime
from datetime import date
import warnings
warnings.filterwarnings("ignore")

df['datetime'] = df.apply(lambda x: datetime.fromtimestamp(x['timestamp']), axis = 1)
df['date'] = df.apply(lambda x: date.fromtimestamp(x['timestamp']), axis = 1)
df['hour'] = df['datetime'].dt.hour
#df['login_date'] = pd.to_datetime(df['login_date'])

df['day_of_week'] = df['datetime'].dt.day_name()
df

         timestamp                              user  ... hour day_of_week
0       1517115600  4f1897100d843738adf0f86c0510cffe  ...    5      Sunday
1       1517115600  9fce3905a9bd5cd02297092a2f3894e8  ...    5      Sunday
2       1517115601  c8adb30f27f1f2c1638c6b2f1075b344  ...    5      Sunday
3       1517115601  c0394190e82e6ef469bc1bf896d780bb  ...    5      Sunday
4       1517115601  a7afb0757f3d05a844d2840927ba3d86  ...    5      Sunday
...            ...                               ...  ...  ...         ...
274631  1517201997  9ee5642149dad30714a2936a335347b4  ...    4      Monday
274632  1517201998  aeef8bbe3ba1939905c11429d81f713a  ...    4      Monday
274633  1517201999  8a0d85f8d46199d04d42816875490d41  ...    4      Monday
274634  1517201999  de08e88a5e710b38fdf382cd585c64e8  ...    4      Monday
274635  1517201999  469b9f24d450608b95e64ca59cf720e8  ...    4      Monday

[274636 rows x 8 columns]

In [78]:
most_distinct_people = pd.DataFrame(df.groupby('room_name')['user'].nunique().sort_values(ascending=False))
most_distinct_people.head(15)

                  user
room_name
Emilio's Room     1017
Azalea's Room      993
Frida's Room       963
Karter's Room      953
Case's Room        946
Damian's Room      945
Walter's Room      945
Alma's Room        927
Deandre's Room     924
Hudson's Room      923
Aubrielle's Room   902
Remy's Room        901
Rylan's Room       892
Jude's Room        888
Ezekiel's Room     875

In [79]:
df[df['room_name'] == 'Emilio\'s Room']

         timestamp                              user  ... hour day_of_week
36      1517115613  f5e74e27774a48e36d0bdf412b5f7811  ...    5      Sunday
43      1517115615  e848326d291a00b3e64501cd359780f5  ...    5      Sunday
49      1517115617  f967160b69b32edf4336e7477a02d4c4  ...    5      Sunday
64      1517115621  e848326d291a00b3e64501cd359780f5  ...    5      Sunday
83      1517115627  fd8c7d640d9d03fa38c51d3ed28772fb  ...    5      Sunday
...            ...                               ...  ...  ...         ...
274262  1517201919  5e34af05f2f8068269f0ade972888912  ...    4      Monday
274407  1517201953  5cc54d30dc1738bb27cf08e1734fd35b  ...    4      Monday
274481  1517201966  aaab5eccf290cb0c93f2f07b0be3ef27  ...    4      Monday
274508  1517201973  65009b59ca86d4244cbebe5f79c38eb7  ...    4      Monday
274590  1517201990  0e94bfb3bfe683bdda58cdd566dab646  ...    4      Monday

[3556 rows x 8 columns]

In [80]:
df['date'].unique()

array([datetime.date(2018, 1, 28), datetime.date(2018, 1, 29)],
      dtype=object)

In [81]:
len(df['room'].unique())

44438

In [82]:
df.groupby(['user']).count()

                                  timestamp  room  ...  hour  day_of_week
user                                               ...
0000c63a918c95e5cdc26591256dfd58          1     1  ...     1            1
0004252cdb4446f2f4197825943b3c89          4     4  ...     4            4
00043d422b7cdb043cad960e4c9bbd56          8     8  ...     8            8
0008f2783e2fd13093725fc6e9741e4e          3     3  ...     3            3
0008f38cfd09e650cc9d2380fb048bb8          1     1  ...     1            1
...                                     ...   ...  ...   ...          ...
fff89b32af405c1c487366e91f089e34         14    14  ...    14           14
fffb3ea96fc4fedb935d828d82560781          1     1  ...     1            1
fffc424e9505aed613e7c80448828029          1     1  ...     1            1
fffec1b66777ca367a22f8f406ba1760          1     1  ...     1            1
ffff3d21e60a78447ea87da15a4d17da          1     1  ...     1            1

[39860 rows x 7 columns]

In [83]:
room = pd.DataFrame(df.groupby(['room'])['user'].count().sort_values(ascending=False))

In [84]:
user = pd.DataFrame(df.groupby(['user','date'])['room'].count())
user

                                             room
user                             date
0000c63a918c95e5cdc26591256dfd58 2018-01-28     1
0004252cdb4446f2f4197825943b3c89 2018-01-29     4
00043d422b7cdb043cad960e4c9bbd56 2018-01-28     6
                                 2018-01-29     2
0008f2783e2fd13093725fc6e9741e4e 2018-01-28     3
...                                           ...
fff89b32af405c1c487366e91f089e34 2018-01-28    14
fffb3ea96fc4fedb935d828d82560781 2018-01-28     1
fffc424e9505aed613e7c80448828029 2018-01-28     1
fffec1b66777ca367a22f8f406ba1760 2018-01-29     1
ffff3d21e60a78447ea87da15a4d17da 2018-01-29     1

[46384 rows x 1 columns]

In [85]:
user = user.reset_index()
user

                                   user        date  room
0      0000c63a918c95e5cdc26591256dfd58  2018-01-28     1
1      0004252cdb4446f2f4197825943b3c89  2018-01-29     4
2      00043d422b7cdb043cad960e4c9bbd56  2018-01-28     6
3      00043d422b7cdb043cad960e4c9bbd56  2018-01-29     2
4      0008f2783e2fd13093725fc6e9741e4e  2018-01-28     3
...                                 ...         ...   ...
46379  fff89b32af405c1c487366e91f089e34  2018-01-28    14
46380  fffb3ea96fc4fedb935d828d82560781  2018-01-28     1
46381  fffc424e9505aed613e7c80448828029  2018-01-28     1
46382  fffec1b66777ca367a22f8f406ba1760  2018-01-29     1
46383  ffff3d21e60a78447ea87da15a4d17da  2018-01-29     1

[46384 rows x 3 columns]

In [86]:
q2 = user.groupby(['user']).mean().sort_values(by='room',ascending=False)
q2

                                   room
user
fcda3a348c811e465911ed40525138c0  363.5
2b86966dbf4ef063855b2c87aa47608f  225.5
41ede3e8116d43fdd953da9e69067955  215.0
27ac23d9f7c1d24f9058723bebf1da62  182.5
3d1e35b6adb71431aceb8f66fe2d40d4  180.0
...                                 ...
88e77a49df72342fb813f5c57ee7f185    1.0
88f2183c124d7109134f420523bab8fd    1.0
88ff7057a59f87a1aa7aba14a56a3433    1.0
8909e90cfcb6ed83a5d987f3f90c1f24    1.0
ffff3d21e60a78447ea87da15a4d17da    1.0

[39860 rows x 1 columns]

In [87]:
q3 = pd.DataFrame(df.groupby(['user'])['room'].nunique())
answer = len(q3[q3['room']>=3])
print("There were",answer,"users that visited at least 3 different rooms")
q3[q3['room']>=3].sort_values(by='room',ascending=False)

There were 9947 users that visited at least 3 different rooms

                                  room
user
5b0f20be572d1119d2464490d8281289    49
5b17e3e192883ffcd36e803f46a586ac    45
98ea45dc9160685aacad87323e5bb049    44
cc47baaf368c5cd2ca25031a9a660028    40
97e15bfe4b6d1bd7389766c5fbdedf3f    39
...                                ...
a2d119eae66a4d77cf60413a300ed305     3
462ed077264e8ded0d6a1fb204a35ee2     3
463957868d5d620b26850da45570cd3f     3
a2c3283ded87d3fc8443e0337593ba6b     3
38d4e924f717b8f769ab52c55f57a975     3

[9947 rows x 1 columns]

In [88]:
df

         timestamp                              user  ... hour day_of_week
0       1517115600  4f1897100d843738adf0f86c0510cffe  ...    5      Sunday
1       1517115600  9fce3905a9bd5cd02297092a2f3894e8  ...    5      Sunday
2       1517115601  c8adb30f27f1f2c1638c6b2f1075b344  ...    5      Sunday
3       1517115601  c0394190e82e6ef469bc1bf896d780bb  ...    5      Sunday
4       1517115601  a7afb0757f3d05a844d2840927ba3d86  ...    5      Sunday
...            ...                               ...  ...  ...         ...
274631  1517201997  9ee5642149dad30714a2936a335347b4  ...    4      Monday
274632  1517201998  aeef8bbe3ba1939905c11429d81f713a  ...    4      Monday
274633  1517201999  8a0d85f8d46199d04d42816875490d41  ...    4      Monday
274634  1517201999  de08e88a5e710b38fdf382cd585c64e8  ...    4      Monday
274635  1517201999  469b9f24d450608b95e64ca59cf720e8  ...    4      Monday

[274636 rows x 8 columns]

In [89]:
q4 = pd.DataFrame(df.groupby(['room','datetime'])['user'].nunique())
q4[q4['user']>=2]

                                                      user
room                             datetime
000a37745ae0e17f28bacfe9d1deb3f4 2018-01-28 20:34:54     2
002cd80016f64111a3f97810b2891c6e 2018-01-29 04:27:00     2
003be9489771be35eab12120610f92a6 2018-01-29 00:41:14     2
0044d7902af068d3c55d178a5129b560 2018-01-29 00:27:32     2
00f512693923fcbbecab2ff5c0051191 2018-01-28 09:27:41     2
...                                                    ...
ff6e2f6fa67c17a101e3a418d7fc37e2 2018-01-28 08:57:24     2
ffb0512732f81357893bd1c8bd82c6e5 2018-01-28 07:12:12     2
                                 2018-01-28 07:13:12     2
ffd16150758e320afea030134a6c54e4 2018-01-28 09:36:31     2
fffe1cd76d4154fe37e6a2ed4251a34e 2018-01-28 11:06:41     2

[1370 rows x 1 columns]

In [90]:
res = pd.DataFrame(df.groupby(['room','datetime'])['user'].nunique())
res[res['user']>=2]

                                                      user
room                             datetime
000a37745ae0e17f28bacfe9d1deb3f4 2018-01-28 20:34:54     2
002cd80016f64111a3f97810b2891c6e 2018-01-29 04:27:00     2
003be9489771be35eab12120610f92a6 2018-01-29 00:41:14     2
0044d7902af068d3c55d178a5129b560 2018-01-29 00:27:32     2
00f512693923fcbbecab2ff5c0051191 2018-01-28 09:27:41     2
...                                                    ...
ff6e2f6fa67c17a101e3a418d7fc37e2 2018-01-28 08:57:24     2
ffb0512732f81357893bd1c8bd82c6e5 2018-01-28 07:12:12     2
                                 2018-01-28 07:13:12     2
ffd16150758e320afea030134a6c54e4 2018-01-28 09:36:31     2
fffe1cd76d4154fe37e6a2ed4251a34e 2018-01-28 11:06:41     2

[1370 rows x 1 columns]

In [91]:
q4 = pd.DataFrame(df.groupby(['room','hour']).nunique())
answer = len(q4[q4['user']>=2])
q4[q4['user']>=2].sort_values(by='user',ascending=False)

There were 30198 users that visited at least 2 different rooms

                                       timestamp  user  ...  date  day_of_week
room                             hour                   ...
d857c889521cd156f4be7069ecbcdde2 9           106    51  ...     1            1
8ffad305ece461cf923ea977c4869c5a 0           124    49  ...     1            1
26288e843471b04a388596e583d7c6a9 8           108    48  ...     1            1
cfdb1e5d730696ce483ff05b8e452bb5 4            79    48  ...     1            1
6e337269aeac770b180f4c569eae8a59 6            98    46  ...     1            1
...                                          ...   ...  ...   ...          ...
67a77833b888bfdaa6e6364674fbdc68 2             6     2  ...     1            1
67a35d1e3b0682deb342c5d6297e1994 22            6     2  ...     1            1
679fb3ca45fadfdccbf3f7b9c58b5465 3             5     2  ...     1            1
                                 2             6     2  ...     1            1
fffe1cd76d4154fe37e6a2ed4251a34e 11            2     2  ...     1            1

[30198 rows x 6 columns]

In [92]:
q4 = q4.reset_index()

In [94]:
res = q4[q4['user'] >= 2]
res

                                   room  hour  ...  date  day_of_week
0      000319d01e261ef70e8a42fe78793220    10  ...     1            1
14     000a37745ae0e17f28bacfe9d1deb3f4     5  ...     1            1
15     000a37745ae0e17f28bacfe9d1deb3f4     8  ...     1            1
16     000a37745ae0e17f28bacfe9d1deb3f4     9  ...     1            1
17     000a37745ae0e17f28bacfe9d1deb3f4    19  ...     1            1
...                                 ...   ...  ...   ...          ...
77536  fff5032a94eee78fbd05e4548a21111f     1  ...     1            1
77537  fff5032a94eee78fbd05e4548a21111f    21  ...     1            1
77540  fffa1cf470f6e201030be7abe7436297    16  ...     1            1
77546  fffdd210af39803538f296ebc25bb889    13  ...     1            1
77547  fffe1cd76d4154fe37e6a2ed4251a34e    11  ...     1            1

[30198 rows x 8 columns]

In [95]:
res.groupby(['room','hour']).count()

                                       timestamp  user  ...  date  day_of_week
room                             hour                   ...
000319d01e261ef70e8a42fe78793220 10            1     1  ...     1            1
000a37745ae0e17f28bacfe9d1deb3f4 5             1     1  ...     1            1
                                 8             1     1  ...     1            1
                                 9             1     1  ...     1            1
                                 19            1     1  ...     1            1
...                                          ...   ...  ...   ...          ...
fff5032a94eee78fbd05e4548a21111f 1             1     1  ...     1            1
                                 21            1     1  ...     1            1
fffa1cf470f6e201030be7abe7436297 16            1     1  ...     1            1
fffdd210af39803538f296ebc25bb889 13            1     1  ...     1            1
fffe1cd76d4154fe37e6a2ed4251a34e 11            1     1  ...     1            1

[30198 rows x 6 columns]

In [97]:
answerQ4 = pd.DataFrame(res.room.value_counts().sort_values(ascending=False))
answerQ4

                                  room
88f441789fad7ff6f58d3623e8a267fa    24
83e4994b07c360901b6493b8ef455543    20
27fd4487b352506f5a8d4f3cd70ee0e1    19
5d89d363f7f5c5f2c7f30ea5e3a8b1ac    18
b22b8440f27ef276d631bb4d186775de    17
...                                ...
a9ddad9f2d0583264e1468c716100bea     1
85984ebfb1252ae76e3012a708908e42     1
00eba0af6ed2f272ecbe81f5100b3701     1
42f5a4750a4333c369561828a770b448     1
f9a5decf755eb2380666fa82bfc09e70     1

[17344 rows x 1 columns]

# Checker For Table Above

In [103]:
res[res['room']=='83e4994b07c360901b6493b8ef455543']

                                   room  hour  ...  date  day_of_week
40329  83e4994b07c360901b6493b8ef455543     0  ...     1            1
40330  83e4994b07c360901b6493b8ef455543     1  ...     1            1
40331  83e4994b07c360901b6493b8ef455543     2  ...     1            1
40332  83e4994b07c360901b6493b8ef455543     3  ...     1            1
40333  83e4994b07c360901b6493b8ef455543     4  ...     1            1
40334  83e4994b07c360901b6493b8ef455543     5  ...     1            1
40335  83e4994b07c360901b6493b8ef455543     6  ...     1            1
40336  83e4994b07c360901b6493b8ef455543     7  ...     1            1
40337  83e4994b07c360901b6493b8ef455543     8  ...     1            1
40338  83e4994b07c360901b6493b8ef455543     9  ...     1            1
40339  83e4994b07c360901b6493b8ef455543    10  ...     1            1
40340  83e4994b07c360901b6493b8ef455543    11  ...     1            1
40341  83e4994b07c360901b6493b8ef455543    12  ...     1            1
40342  83e4994b07c360901b6493b8ef455543    13  ...     1            1
40343  83e4994b07c360901b6493b8ef455543    14  ...     1            1
40345  83e4994b07c360901b6493b8ef455543    16  ...     1            1
40346  83e4994b07c360901b6493b8ef455543    20  ...     1            1
40347  83e4994b07c360901b6493b8ef455543    21  ...     1            1
40348  83e4994b07c360901b6493b8ef455543    22  ...     1            1
40349  83e4994b07c360901b6493b8ef455543    23  ...     1            1

[20 rows x 8 columns]

# We are only interested in rooms with at least 12 distinct hours

In [109]:
answerQ4[answerQ4['room']>=12]

                                  room
88f441789fad7ff6f58d3623e8a267fa    24
83e4994b07c360901b6493b8ef455543    20
27fd4487b352506f5a8d4f3cd70ee0e1    19
5d89d363f7f5c5f2c7f30ea5e3a8b1ac    18
b22b8440f27ef276d631bb4d186775de    17
742e9fa6bcce2cc58ef8f9e5cf250fbd    17
8a0363de35699b71db3e34411c54fd4b    16
4489e9156c7fca44166cbc040ee79824    16
cc71a04cc6db16d715fa02faf866a591    16
57fa767815f0598b172aea97738a2371    16
72022bd6f3f2b9cfe47516a685e1aa94    16
40cbe35970e8be5a6198d3d6b954de9b    15
fe54e6007b6c446a71655efb2924f360    15
2ba6d6c826c1c1bf66df644d611b484f    15
ed1b8d32aedc91180e30e6ffc3954c65    15
26288e843471b04a388596e583d7c6a9    14
a382d521d2b438c80e8b173e7b4e2409    14
80a7a319670ba96848f1c4042137d87b    14
7b48ea5684ae240ba0793ae758b78abc    14
8af8955daadc158052131f69a2215b66    14
51a6b9087f7b38fb1829786ea600c660    14
cb9b7ce3ccfa53d839a5bfec912723ec    14
27d0abdadbce3a3e2aecd4984e585261    13
95e13989dc976fcc9f4f248bc291326f    13
38976e65a8c4540948a54a6c64b40439    13
3a5f700e856dbde29ba83a61a02d70dd    13
20ae832fd3f20cc734fbe5e66fb40b34    13
2035ccdddf35c36778e8215c02872ca3    13
c25c4e237d3a6e94de14536900b84caa    13
870dfb9a69350f433bd92d42c7b54370    13
ee28f3948f11286b6aa5a03386a7303d    13
0044d7902af068d3c55d178a5129b560    13
7ad650a77c0bbb07bb9ad41e4dfe80e4    13
188a6a214953aeffdd237cf2467267db    13
ba1b8f8e638ec6fddc2e8371e096f61e    13
cebb9e0d5960376475d6ea9ecb595f06    13
ffa8bc1c40c67db50ab2f47b9235a62e    13
a6568710ee16a8c25c36b056e89d53b1    13
1a28b7b97bb629495ac36799b2c2dde8    12
a341d6ba282be7f706cad64a8244573b    12
582a2aa15cc213e9b6bd9f3aa68a6f2f    12
d85292ed8525cbf48a8fe561e704e8b2    12
dc02353f8b011fdbe94a1a2a51e8544d    12
f4f96fcaac596995a264f3ffca13f4f2    12
863859e69fa03e476d87c2ea0dd4f980    12
a22eb4632185a09030165a37e91624ac    12
65afbfc07183a0f904ff369abdcb078b    12
a98cb141018858080c078f0f14e3f76b    12
68efe5539e1cfff44dc5416067aa27ea    12
253ead430a761fbd655878ce2f93ed1f    12
da13d75fbcd93c8c239679e9428ff4b4    12
9186e7df374eeabc2d3716e16e12aee9    12
16074c46c9d1f38b7443aea7dd4d9e0a    12
59675775c0221d184797880bdae90a54    12
302faf54175647c9d2c62253f3c1a92d    12
deada030cbda747217af9c96b9251088    12
8f30bcb2a0f65738610bcc5541fc7dd6    12
2fb2fe751ae34fd1af2e012b07c5fb66    12
546667c9a420d85d38144922aaccd5df    12
33304cde7d5498f754cf9c46c5f5bd42    12

In [108]:
print("Total number of rooms that were entered by at least 2 people in at least 12 distinct hours:",len(answerQ4[answerQ4['room']>=12]))

Total number of rooms that were entered by at least 2 people in at least 12 distinct hours: 60